@import url("main.css"); /*importing common styles*/
@import url("images.css");

.blogPost {
    width: 90%;
}

.image {
	padding: 20% 0;
}

.author {
    display: flex;
    align-items: center;
}

.avatar {
    background: url(../images/myAvatar.jpg) center/contain no-repeat ;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 30px;
}

.author-details {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    font-size: 0.7em;
}

#author-name {
    font-size: 1.5em;
}

.share {
    font-size: 2em;
    display: flex;
    justify-content: space-around;
}

.share .icons {
    padding: 0.5em;
    background-color: #FFF;
    border-radius: 50%;
    margin: 30px;
}