@import url("main.css"); /*importing common styles*/
@import url("images.css");

/*styling of blog post cards on homepage*/

.card {
	width: 40%;
}

.card-content {
	font-size: 0.7em;
	margin: 0;
}

.card-title {
	font-weight: 200;
}

.image {
	padding: 50% 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #888;
    color: #000;
    padding: 8px 20px;
    text-decoration:none;
    border-radius:5px;
    cursor:pointer;
}

.button:hover {
    background-color: #00b7ff;
    color: #FFF;
}

@media screen and (max-width: 1350px) {
	.card{
		width: 90%;
		margin: 5%;
	}
}