.blog-1 .image {
    background-image: url(../images/blog1.jpg);
}

.blog-2 .image {
    background-image: url(../images/blog2.jpeg);
}

.blog-3 .image {
    background-image: url(../images/blog3.png);
}